{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body %}

<h1>{{ word }}</h1>

{% for item in phonetics %}
    {{ item['text'] }}:
    <audio controls>
        <source src={{ item['audio'] }} />
    </audio>
        
    </a>
    <br>
{% endfor %}
<br>

{% for meaning in meanings %} 

    <h2>{{meaning['partOfSpeech']}}</h2>

    {% for definition in meaning['definitions'] %}
        {% for key, value in definition.items() %}

            {% if key == "definition" %}
                <li>{{ value }}</li>
                <br>
            {% elif key == "example" %}
                "<i>{{ value }}</i>"
                <br>
            {% elif key == "synonyms" %}
                <b>similar:</b> 
                {% for synonym in value %}

                    <a href="/dictionary?word={{synonym}}">{{ synonym }}</a>
                {% endfor %}
                <br>
            {% else %}

            {% endif%}        
        {% endfor %}
    <br>
    {% endfor %}
    
{% endfor %}

{% endblock %}